language: python
python:
  - 2.7
  - 2.6
virtualenv:
  # This allows installing PyQt using apt-get and being able to import it.
  system_site_packages: true
before_install:
  # On Python 2.7 we install PyQt4 and run the UI tests.
  - if [[ $TRAVIS_PYTHON_VERSION == '2.7' ]]; then source .travis_before_install; fi
install:
  - pip install nose
  - pip install unittest2
  - pip install cython
  - pip install coverage
  - pip install coveralls
  - python setup.py build_ext --inplace
  - python setup.py develop
script:
  - coverage run setup.py test
notifications:
  email:
    - travis-ci@enthought.com
after_success:
  coveralls
