include CHANGES.rst
include LICENSE.txt
include LICENSE-CC-BY-3.0.txt
include MANIFEST.in
include README.rst
include image_LICENSE.txt
graft docs
prune docs/build
recursive-exclude docs *.pyc
graft examples
recursive-exclude examples *.pyc
include traits/ctraits.c
recursive-include traits *.py
include traits/observation/_dsl_grammar.lark
