
P.CodeOne-liner {
    margin-left:72pt;
    	font-family: "Courier New", Courier, monospace;
}

table.MsoNormalTable {
   border-collapse:separated;
   margin-left:77.0pt;
}

p.CopyRight { 
   font-family:"Palatino Linotype";
   font-size:9.0pt;
   line-height:12.0pt;
   margin-bottom:4.0pt;
   margin-left:0pt;
   margin-right:0pt;
   margin-top:8.0pt;
}

table.MsoTableGrid {
   border:none;
   border-collapse:separated;
   margin-left:6.75pt;
   margin-right:6.75pt;
   width:100.0%;
}

p.MsoTitle {
   font-family:"Palatino Linotype";
   font-size:36.0pt;
   font-weight:bold;
   line-height:45.0pt;
   margin-bottom:.0001pt;
   margin-left:0pt;
   margin-right:0pt;
   margin-top:150.0pt;
}

table.MsoNormalTable {
   border-collapse:separated;
   margin-left:74.0pt;
}

p.CoverSubHeads {
   font-family:"Palatino Linotype";
   font-size:16.0pt;
   margin-bottom:.0001pt;
   margin-left:0pt;
   margin-right:0pt;
   margin-top:28.0pt;
}

p.Address { 
   font-family:"Palatino Linotype";
   font-size:12.0pt;
   line-height:12.0pt;
   margin-bottom:12pt;
   margin-left:0pt;
   margin-right:0pt;
   margin-top:0pt;
}

td.s0 { 
	background-color:#073d61;
	width:168px;
	border-style:none;
	vertical-align:top;
	text-align:center;
}

