name: Release to PyPI

on:
  workflow_dispatch:
  release:
    types: [published]

jobs:
  build-wheels:
    strategy:
      matrix:
        os: [windows-latest, macos-13, macos-14, ubuntu-latest]

    runs-on: ${{ matrix.os }}

    steps:

    - name: Check out the release commit
      uses: actions/checkout@v6

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name: Install Python packages needed for wheel build and upload
      run: python -m pip install twine

    - name: Build wheels
      uses: pypa/cibuildwheel@v2.23.3

    - name: Check and upload wheels
      env:
        TWINE_USERNAME: ${{ secrets.PYPI_USERNAME }}
        TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
      run: |
        python -m twine check --strict wheelhouse/*.whl
        python -m twine upload wheelhouse/*.whl

  build-sdist:
    runs-on: ubuntu-latest

    steps:

    - name: Check out the release commit
      uses: actions/checkout@v6

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name: Install Python packages needed for sdist build and upload
      run: python -m pip install build twine

    - name: Build sdist
      run: python -m build --sdist

    - name: Publish sdist to PyPI
      env:
        TWINE_USERNAME: ${{ secrets.PYPI_USERNAME }}
        TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
      run: |
        python -m twine check --strict dist/*
        python -m twine upload dist/*
