# Test run with no optional dependencies installed, to help
# detect any accidental dependencies.

name: Core tests

on:
  pull_request

jobs:
  core:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        python-version: [3.6, 3.8, 3.10.0-rc.2]

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install local package
      run: |
        python -m pip install --upgrade pip setuptools wheel
        python -m pip install .
        python -m pip uninstall -y setuptools wheel
    - name: Test Traits package
      run: |
        mkdir testdir
        cd testdir
        python -m unittest discover -v traits
