name: Run style checks on codebase

on:
  pull_request

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest]
        python-version: [3.6, 3.8]

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies and local packages
      run: |
        python -m pip install --upgrade pip
        python -m pip install flake8 setuptools wheel
        python -m pip install copyright_header/
    - name: Run style checks
      run: |
        python -m flake8
