name: Style check

on: [pull_request, workflow_dispatch]

jobs:
  style:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5
    - name: Set up Python 3.10
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'
    - name: Install dependencies and local packages
      run: |
        python -m pip install flake8
        python -m pip install flake8-ets
    - name: Run style checks
      run: |
        python -m flake8
