name: Doc build

on:
  pull_request

jobs:
  docs:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.10
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'
    - name: Install dependencies and local packages
      run: python -m pip install .[docs]
    - name: Build HTML documentation with Sphinx
      run: |
        cd docs
        python -m sphinx -b html -W source build
