name: Doc build

on:
  pull_request

jobs:
  docs:
    strategy:
      matrix:
        os: [ubuntu-latest]
        python-version: ['3.8']

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies and local packages
      run: |
        python -m pip install --upgrade pip
        python -m pip install ".[docs]"
    - name: Build HTML documentation with Sphinx
      run: |
        cd docs
        python -m sphinx -b html -W source build
